<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Example Form</title>
	<style type="text/css">

		/*I normally use a seperate file for css but seeing as you did not mention anything in regards to the use of
		a seperate file, I will use integrated css for the sake of clarity. Especially since the amount off styling 
		required outside of bootstrap is so minimal. */
		.input-group{
			margin-left: auto;
			margin-right: auto;
		}

	</style>
</head>
<body>
<div class="page-header text-center">
	<h1>Aplytica Web-Form<br><small>A simple web form for sending your credentials over email</small></h1>
</div>
<!--Begin code for the form. Input elements are of width 5 and centered-->
<div class="text-center col-sm-12" id="body_wrap">
	<div class="panel panel-default text-center" id="form_panel">
		<div class="panel-heading" id="form_panel_heading"><h2>Enter Credentials</h2></div>
		<div class="panel-body" id="form_panel_body">
			<div class="input-group col-sm-4" id="username_form_element">
			<form method="POST">
				<div class="form-group">
					<label for="username_field">Username</label>
					<input class="form-control text-center" placeholder="Username..." type="text" name="username" id="username_field">
				</div>
				<br><br>
				<div class="form-group">
					<label for="password_field">Password</label>
					<input class="form-control text-center" placeholder="Password..." type="password" name="password" id="password_field">
				</div>
					<br><br>
					<input class="btn btn-default" value="Submit" type="submit" name="submit">
			</form>
			</div>	
		</div>
	</div>
</div>

</body>
</html>